.removeButton {
  background-color: white;
  border: 1px solid red;
  border-radius: 50%;
  width: 18px;
}

.recipientText {
  color: #0fbc49;
  font-weight: 400;
  margin-top: 6px;
  font-size: 0.8rem;
}

.mobileAmount {
  text-align: left;
  font-size: 0.7rem;
  color: lightslategray;
  margin-top: 6px;
  font-weight: 400;
}
