.container {
  -webkit-text-size-adjust: 100%;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.5;
  color: #111;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: inherit;
  font-family: inherit;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  background: #ffffff;
  box-sizing: border-box;
  border: 0 solid transparent;
  border-radius: 0.5rem;
  margin: 12px 0;
  width: 100%;
  position: relative;
  height: 100%;
}

.wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipient {
  width: 100%;
  margin-bottom: 6px;
}

a.actionLink {
  color: darkgreen;
  text-decoration: underline !important;
}

.selectLabel {
  font-weight: 400;
  font-size: 0.7rem;
  margin-bottom: 5px;
}
