.navHolder {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 1.5rem;
  width: 250px;
  align-items: flex-start;

  .title {
    color: darkgrey;
    font-size: 10pt;
  }

  .navList {
    list-style: none;
    margin: 8px 0 20px 0;
    min-width: 120px;

    li {
      font-size: 9pt;
      font-weight: 600;
      cursor: pointer;
      padding: 6px;
      border-bottom: 1px solid #0fbc49;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: #0fbc49;
      }
    }
  }
}

/* Mobile */
@media (max-width: 700px) {
  .navHolder {
    display: none;
  }
}
